.field {
    height: 100vh;
    max-width: 400px;
    min-width: 400px;
    background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 140px;
    color: white;
}
.field input {
    border: 2px solid white;
    background: transparent;
    width: 300px;
    border-radius: 29px;
    padding: 15px 30px;
    margin: 20px 0 0 0 ;
    color: white;
}
.field input[type="button"] {
    font-weight: bold;
}
.field input[type="button"]:hover {
    border-color: #F6C06F;
    background: linear-gradient(160.06deg, #F7C06F 0%, #CE3909 86.69%);
    color: black;
}
.field input:focus-visible {
    border-color: #F6C06F;
    box-shadow: inset 0 0 5px #F6C06F;
    outline-style: none;
}
.indent {
    margin-bottom: 20px;
}
.wrap {
    min-width: 300px;
    max-width: 300px;
}
ul, li {
    display: block;
    padding: 0 20px;
    margin: 0;
}
.list {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: black;
    padding: 15px 30px;
}
.list-item  {
    margin: 4px;
    cursor: pointer;
}
.user-item {
    display: flex;
    padding: 5px;
    flex: 1;
}
summary > * {
    display: inline;
}